<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ad Hoc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestCaseBuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ipad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A925013B134385BF001759F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A925015F134385BF001759F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A94D67FE13A2ED33003FC68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9976EFB13BB355200B06DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
