<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SwipeTip</key>
	<dict>
		<key>CenterX</key>
		<integer>755</integer>
		<key>CenterY</key>
		<integer>200</integer>
		<key>KeepCountsOnRestart</key>
		<false/>
		<key>ResetCountsOnDisplay</key>
		<false/>
		<key>ImageFile</key>
		<string>tooltip-swipe-next-video.png</string>
		<key>DisplayText</key>
		<string>Swipe to go to next video</string>
		<key>AutoHideInSeconds</key>
		<integer>0</integer>
		<key>InvalidatesToolTip</key>
		<string>SwipeTip2</string>
		<key>ValidationCriteria</key>
		<dict>
			<key>VideoTap</key>
			<integer>3</integer>
			<key>FirstLaunch</key>
			<true/>
			<key>ChannelListScroll</key>
			<integer>1</integer>
		</dict>
		<key>InvalidationCriteria</key>
		<dict>
			<key>MinimumTime</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>SwipeTip2</key>
	<dict>
		<key>CenterX</key>
		<integer>755</integer>
		<key>CenterY</key>
		<integer>200</integer>
		<key>KeepCountsOnRestart</key>
		<false/>
		<key>ResetCountsOnDisplay</key>
		<false/>
		<key>ImageFile</key>
		<string>tooltip-swipe-next-video.png</string>
		<key>DisplayText</key>
		<string>Swipe to go to next video</string>
		<key>AutoHideInSeconds</key>
		<integer>0</integer>
		<key>InvalidatesToolTip</key>
		<string>SwipeTip</string>
		<key>ValidationCriteria</key>
		<dict>
			<key>FirstLaunch</key>
			<true/>
			<key>MinimumTime</key>
			<integer>240</integer>
		</dict>
		<key>InvalidationCriteria</key>
		<dict>
			<key>VideoTap</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ChannelManagementTip</key>
	<dict>
		<key>CenterX</key>
		<integer>859</integer>
		<key>CenterY</key>
		<integer>257</integer>
		<key>KeepCountsOnRestart</key>
		<false/>
		<key>ResetCountsOnDisplay</key>
		<false/>
		<key>ImageFile</key>
		<string>tooltip-channel-management.png</string>
		<key>DisplayText</key>
		<string>Search and manage your channels here.</string>
		<key>AutoHideInSeconds</key>
		<integer>0</integer>
		<key>ValidationCriteria</key>
		<dict>
			<key>MinimumTime</key>
			<integer>300</integer>
			<key>FirstLaunch</key>
			<true/>
		</dict>
		<key>InvalidationCriteria</key>
		<dict>
			<key>ChannelManagementTap</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ShareButtonTip</key>
	<dict>
		<key>CenterX</key>
		<integer>843</integer>
		<key>CenterY</key>
		<integer>202</integer>
		<key>KeepCountsOnRestart</key>
		<true/>
		<key>ResetCountsOnDisplay</key>
		<false/>
		<key>ImageFile</key>
		<string>tooltip-share-videos.png</string>
		<key>DisplayText</key>
		<string>Share your favorite videos with your friends</string>
		<key>AutoHideInSeconds</key>
		<integer>0</integer>
		<key>ValidationCriteria</key>
		<dict>
			<key>FavoriteTap</key>
			<integer>1</integer>
		</dict>
		<key>InvalidationCriteria</key>
		<dict>
			<key>FavoriteTap</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>BadVideoTip</key>
	<dict>
		<key>CenterX</key>
		<integer>0</integer>
		<key>CenterY</key>
		<integer>0</integer>
		<key>KeepCountsOnRestart</key>
		<false/>
		<key>ResetCountsOnDisplay</key>
		<true/>
		<key>AutoHideInSeconds</key>
		<integer>2</integer>
		<key>ImageFile</key>
		<string>tooltip-bad-video.png</string>
		<key>DisplayText</key>
		<string>The video is not available</string>
		<key>ValidationCriteria</key>
		<dict>
			<key>BadVideoTap</key>
			<integer>1</integer>
		</dict>
		<key>InvalidationCriteria</key>
		<dict/>
	</dict>
</dict>
</plist>
